<footer class="footer-distributed">

    <div class="footer-left">

        <img src="~/Images/logo.png" style="height:100px" />


    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Soborna 16</span> <b>Rivne, Ukraine</b></p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p><b>+(097) 777 7777</b></p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:redheadzoo420@gmail.com"><b>redheadzoo420@gmail.com</b></a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span><b>About the company</b></span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook" disabled></i></a>
            <a href="#"><i class="fa fa-twitter" disabled></i></a>
            <a href="#"><i class="fa fa-linkedin" disabled></i></a>
            <a href="https://github.com/Zubach/Zoo"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>
